@import url(phone.css);
ul,li,input,p,body,header,footer,figure,img{margin: 0;padding: 0;list-style: none;border: none;}
a{text-decoration: none}
img{border: none}
*{box-sizing: border-box}
body{font-family: "苹方 常规";background: #f2f2f2}
@font-face {
    font-family: 'iconfont';  /* project id 226032 */
    src: url('//at.alicdn.com/t/font_qrkw5h6x1hmpldi.eot');
    src: url('//at.alicdn.com/t/font_qrkw5h6x1hmpldi.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_qrkw5h6x1hmpldi.woff') format('woff'),
    url('//at.alicdn.com/t/font_qrkw5h6x1hmpldi.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_qrkw5h6x1hmpldi.svg#iconfont') format('svg');
}
.header{width: 100%;height:140px;background: #29a6dc;border: 1px solid #29a6dc;position: relative }
.toubu{width:571px;height: 84px;background: #2a3340;padding:7px 11px;border-radius: 84px;margin: 0 auto;margin-top: 48px  }
.toubu1{width: 165px;height: 70px;background: #2a3441;float: left;margin-right: 17px;border-radius: 70px;position: relative}
.yingwen{color: #fff;font-size: 12px;height:12px;width: 100px;text-align: center;margin: 0 auto;margin-top: 4px}
.hanzi{color: #fff;font-size:24px;height:24px;width: 100px;text-align: center;margin: 0 auto;margin-top:12px}
.dian1{width: 3px;height: 3px;border-radius: 50%;background: #fff;position: absolute;top:31px;left: 32px}
.dian2{width: 3px;height: 3px;border-radius: 50%;background: #fff;position: absolute;top:31px;left: 38px}
.dian3{width: 3px;height: 3px;border-radius: 50%;background: #fff;position: absolute;top:31px;left: 128px}
.dian4{width: 3px;height: 3px;border-radius: 50%;background: #fff;position: absolute;top:31px;left: 134px}
.gang{width: 3px;height: 59px;margin-top: 6px;margin-right: 17px;float: left}
.gang1{width: 3px;height: 3px;background: #fff;border-radius: 50%;}
.gang2{width: 1px;height: 53px;background: #fff;margin-left: 1px;}
.toubu2{background: #29a6dc;border: none;border: 1px solid #fff}
.toubu3{margin-right: 0;background: #2a3441;border: none;width: 120px}
.fangdajing{width: 44px;height: 44px;border:2px solid #076cbe;background: #fff;position: absolute;top:68px;right:24px;border-radius: 50%;font-size:20px;text-align: center;line-height: 40px;color: #40b0e0;font-family: iconfont}
.content{width: 100%;height: 269px;background: url(../images/background_07.png);background-size: cover;border: 1px solid #191926;margin-bottom: 16px}
.kuangjia{width: 663px;height: 178px;margin: 0 auto;margin-top: 57px}
.kuangjia-l{width: 298px;height: 178px;float: left}
.zi1{width: 203px;height: 29px;margin: 0 auto;text-align: center;line-height: 29px;color: #fff;font-size: 28px}
.zi2{width: 183px;height: 12px;margin: 0 auto;text-align: center;line-height: 12px;color: #fff;font-size: 12px;font-weight: bold}
.zi3{width: 183px;height: 28px;margin: 0 auto;text-align: center;line-height: 29px;color: #fff;font-size: 28px;font-family: iconfont;margin-top: 10px}
.zi4{width: 298px;height: 91px;margin: 0 auto;text-align: center;color: #fff;font-size: 16px;margin-top: 10px;}
.kuangjia-r{width: 320px;height: 134px;float: left;margin-left: 32px;}
.zi11{width: 280px;height: 26px;line-height: 26px;text-align: right;color:#fff;font-size: 20px;margin-left:24px }
.top2{font-size: 26px;color: #fff;font-weight: bolder}
.zi22{width:320px;height: 35px;line-height: 26px;text-align: right;color:#fff;font-size: 20px;margin-left: 0;margin-top: 22px;margin-bottom: 20px}
.top1{font-size: 35px;color: #fff;font-weight: bolder}
.zi33{margin-left: 0}
.footer{width: 100%;height: 100px;padding:2px 0;background: #151c2b }
.item1{width: 33%;height: 96px;border-right: 1px solid #717171;background: #0c1019;float: left}
.item2{width: 33%;height: 96px;border-right: 1px solid #717171;background: #151c2b;float: left}
.item3{width: 33%;height: 96px;background: #151c2b;float: left}
.shujia{width: 47px;height: 45px;margin: 0 auto;margin-top: 9px;color: #fff;font-size:44px;font-family: iconfont}
.shujiazi{width: 47px;height: 24px;margin: 0 auto;margin-top: 13px;color: #fff;font-size: 22px}

















