@import url(phone.css);
ul,li,input,p,body,header,footer,figure,img{margin: 0;padding: 0;list-style: none;border: none;}
a{text-decoration: none}
img{border: none}
*{box-sizing: border-box}
body{font-family: "苹方 常规";background: #f2f2f2}
@font-face {
    font-family: 'iconfont';  /* project id 226032 */
    src: url('//at.alicdn.com/t/font_1lx9tqparyiafw29.eot');
    src: url('//at.alicdn.com/t/font_1lx9tqparyiafw29.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1lx9tqparyiafw29.woff') format('woff'),
    url('//at.alicdn.com/t/font_1lx9tqparyiafw29.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1lx9tqparyiafw29.svg#iconfont') format('svg');
}
.header{width: 100%;height:140px;background: #29a6dc;border: 1px solid #29a6dc;position: relative }
.toubu{width:571px;height: 84px;background: #2a3340;padding:7px 11px;border-radius: 84px;margin: 0 auto;margin-top: 48px  }
.toubu1{width: 165px;height: 70px;background: #29a6dc;border: 1px solid #fff;float: left;margin-right: 17px;border-radius: 70px;position: relative}
.yingwen{color: #fff;font-size: 12px;height:12px;width: 100px;text-align: center;margin: 0 auto;margin-top: 4px}
.hanzi{color: #fff;font-size:24px;height:24px;width: 100px;text-align: center;margin: 0 auto;margin-top:12px}
.dian1{width: 3px;height: 3px;border-radius: 50%;background: #fff;position: absolute;top:31px;left: 32px}
.dian2{width: 3px;height: 3px;border-radius: 50%;background: #fff;position: absolute;top:31px;left: 38px}
.dian3{width: 3px;height: 3px;border-radius: 50%;background: #fff;position: absolute;top:31px;left: 128px}
.dian4{width: 3px;height: 3px;border-radius: 50%;background: #fff;position: absolute;top:31px;left: 134px}
.gang{width: 3px;height: 59px;margin-top: 6px;margin-right: 17px;float: left}
.gang1{width: 3px;height: 3px;background: #fff;border-radius: 50%;}
.gang2{width: 1px;height: 53px;background: #fff;margin-left: 1px;}
.toubu2{background: #2a3441;border: none}
.toubu3{margin-right: 0;background: #2a3441;border: none;width: 120px}
.zuixin{width: 740px;height: 58px;margin: 0 auto;margin-bottom:33px }
.zuixin-t{width: 740px;height: 34px}
.xing{width: 34px;height: 34px;border-radius: 50%;background: #ffc63e;color:#fafafa;font-size: 30px;text-align:center;line-height: 30px;font-family: iconfont;float: left}
.zi{width:123px;height: 34px;margin:0 9px;color: #333;font-size: 30px;float: left }
.caise{width: 4px;height: 4px;background: #fe58aa;border-radius: 50%;margin-top: 30px;margin-right: 3px;float: left}
.caise1{width: 4px;height: 4px;background: #58fedd;border-radius: 50%;margin-top: 30px;margin-right: 3px;float: left}
.caise2{width: 4px;height: 4px;background: #ffc63e;border-radius: 50%;margin-top: 30px;margin-right: 3px;float: left}
.zuixin-b{width:200px;height: 18px;color: #666;margin-left: 46px;font-size: 16px;line-height: 18px;margin-top:5px }
.banner{width:100%;height: 484px;margin-bottom: 26px}
.banner img{width: 100%;height: 484px}
.content{width: 651px;height: 691px;margin: 0 auto;display: flex;justify-content: space-between;flex-wrap: wrap;margin-bottom: 45px}
.shuben{width: 179px;height: 340px}
.shuben img{width: 179px;height:225px;display: block}
.jianjie{width: 165px;height: 46px;margin: 0 auto;font-size: 20px;color: #333;margin-top: 10px}
.zuozhe{width: 120px;height: 19px;color: #999;font-size:18px;margin-top:8px }
.footer{width: 100%;height: 100px;padding:2px 0;background: #151c2b }
.item1{width: 33%;height: 96px;border-right: 1px solid #717171;background: #0c1019;float: left}
.item2{width: 33%;height: 96px;border-right: 1px solid #717171;background: #151c2b;float: left}
.item3{width: 33%;height: 96px;background: #151c2b;float: left}
.shujia{width: 47px;height: 45px;margin: 0 auto;margin-top: 9px;color: #fff;font-size:44px;font-family: iconfont}
.shujiazi{width: 47px;height: 24px;margin: 0 auto;margin-top: 13px;color: #fff;font-size: 22px}
.fangdajing{width: 44px;height: 44px;border:2px solid #076cbe;background: #fff;position: absolute;top:68px;right:24px;border-radius: 50%;font-size:20px;text-align: center;line-height: 40px;color: #40b0e0;font-family: iconfont}