@import url(phone.css);
ul,li,input,p,body,header,footer,figure,img{margin: 0;padding: 0;list-style: none;border: none;}
a{text-decoration: none}
img{border: none}
*{box-sizing: border-box}
body{font-family: "苹方 常规";background: #fafafa}
@font-face {
    font-family: 'iconfont';  /* project id 226032 */
    src: url('http://at.alicdn.com/t/font_mj1qw9nmbq589f6r.eot');
    src: url('http://at.alicdn.com/t/font_mj1qw9nmbq589f6r.eot?#iefix') format('embedded-opentype'),
    url('http://at.alicdn.com/t/font_mj1qw9nmbq589f6r.woff') format('woff'),
    url('http://at.alicdn.com/t/font_mj1qw9nmbq589f6r.ttf') format('truetype'),
    url('http://at.alicdn.com/t/font_mj1qw9nmbq589f6r.svg#iconfont') format('svg');
}
.header{width: 100%;height: 1.4rem;background: #29a6dc;position: relative;border: 0.01rem solid #29a6dc}
.back{width: 0.44rem;height:0.44rem;background: #fff;border-radius: 50%;border: 0.02rem solid #0b6ebf;position: absolute;text-align: center;line-height:0.34rem;font-size:0.4rem;color: #40afdf;top:0.68rem;left: 0.24rem}
.wodeshujia{width:2.3rem;height: 0.38rem;color: #fff;font-size:0.36rem;margin: 0 auto;margin-top: 0.6rem; }
.henggang{width: 0.34rem;height: 0.03rem;margin: 0 auto;margin-top: 0.08rem}
.zucheng1{width: 0.03rem;height: 0.03rem;background: #fff;border-radius: 50%;float: left}
.zucheng3{width: 0.03rem;height: 0.03rem;background: #fff;border-radius: 50%;float: left}
.zucheng2{width: 0.28rem;height: 0.01rem;background: #fff;float: left;margin-top: 0.01rem}
.english{width:1.7rem;height: 0.13rem;margin: 0 auto;font-size: 0.12rem;color:#a3e3ff;margin-top: 0.06rem}
.fangdajing{width: 0.44rem;height: 0.44rem;border:0.02rem solid #076cbe;background: #fff;position: absolute;top:0.68rem;right:0.24rem;border-radius: 50%;font-size:0.2rem;text-align: center;line-height: 0.4rem;color: #40b0e0;font-family: iconfont}
.toubu{width:5.71rem;height: 0.84rem;background: #2a3340;padding:0.07rem 0.11rem;border-radius: 0.84rem;margin: 0 auto;margin-top:0.16rem  }
.toubu1{width: 1.65rem;height: 0.7rem;float: left;background: #2a3441;margin-right: 0.17rem;border-radius: 0.7rem;position: relative}
.yingwen{color: #fff;font-size: 0.12rem;height:0.12rem;width:1.2rem;text-align: center;margin: 0 auto;margin-top: 0.04rem}
.hanzi{color: #fff;font-size:0.24rem;height:0.24rem;width: 1rem;text-align: center;margin: 0 auto;margin-top:0.12rem}
.dian1{width: 0.03rem;height: 0.03rem;border-radius: 50%;background: #fff;position: absolute;top:0.31rem;left:0.12rem}
.dian2{width: 0.03rem;height: 0.03rem;border-radius: 50%;background: #fff;position: absolute;top:0.31rem;left:0.18rem}
.dian3{width: 0.03rem;height: 0.03rem;border-radius: 50%;background: #fff;position: absolute;top:0.31rem;left: 1.28rem}
.dian4{width: 0.03rem;height: 0.03rem;border-radius: 50%;background: #fff;position: absolute;top:0.31rem;left: 1.34rem}
.gang{width: 0.03rem;height: 0.59rem;margin-top: 0.06rem;margin-right: 0.17rem;float: left}
.gang1{width: 0.03rem;height: 0.03rem;background: #fff;border-radius: 50%;}
.gang2{width: 0.01rem;height: 0.53rem;background: #fff;margin-left: 0.01rem;}
.toubu2{;background: #29a6dc;border: 0.01rem solid #fff}
.toubu3{margin-right: 0;background: #2a3441;border: none;width: 1.2rem}
.content{width: 100%;height: 3.72rem;background: #fff;box-shadow: 0 0 0.05rem 0.05rem #ccc;margin-top: 0.16rem;border: 0.01rem solid #fff}
.neirong{width: 6.92rem;height: 3.5rem;margin: 0 auto;margin-top: 0.1rem}
.neirong-l{width: 2.46rem;height: 3.5rem;background: url(../images/fuzhuang_03.png) no-repeat;background-size: contain;float: left}
.neirong-r{width: 4rem;height: 3.5rem;float: right}
.neirong1{font-size: 0.28rem;color: #333}
.neirong2{font-size: 0.16rem;color: #999}
.neirong3{font-size: 0.22rem;color: #666}
.neirong4{width: 4.1rem;height: 0.99rem;margin-top: 0.34rem}
.neirong4-l{width: 1.69rem;height: 1rem;float: left;margin-left: 0.2rem}
.item1{font-size: 0.2rem;color: #666}
.item3{font-size:0.3rem;color:#ffd800;font-family: iconfont }
.neirong4-r{width: 1.87rem;height: 0.57rem;text-align: center;line-height: 0.57rem;font-size:0.18rem;color: #fff;border-radius: 0.57rem;float: right;margin-top:0.36rem;margin-right: 0.11rem;font-family: iconfont;background: #29a6dc;position: relative  }
.dian7{width: 0.06rem;height: 0.06rem;border-radius: 50%;background: #fff;position: absolute;top:0.26rem;left:0.08rem}
.dian8{width:0.06rem;height: 0.06rem;border-radius: 50%;background: #fff;position: absolute;top:0.26rem;left:1.67rem}


