@import url(phone.css);
ul,li,input,p,body,header,footer,figure,img,br{margin: 0;padding: 0;list-style: none;border: none;}
a,br{text-decoration: none}
img{border: none}
*{box-sizing: border-box}
body{font-family: "苹方 常规";background: #f2f2f2}
@font-face {
    font-family: 'iconfont';  /* project id 226032 */
    src: url('http://at.alicdn.com/t/font_ngv5tqp5rr6vquxr.eot');
    src: url('http://at.alicdn.com/t/font_ngv5tqp5rr6vquxr.eot?#iefix') format('embedded-opentype'),
    url('http://at.alicdn.com/t/font_ngv5tqp5rr6vquxr.woff') format('woff'),
    url('http://at.alicdn.com/t/font_ngv5tqp5rr6vquxr.ttf') format('truetype'),
    url('http://at.alicdn.com/t/font_ngv5tqp5rr6vquxr.svg#iconfont') format('svg');
}
.header{width: 100%;height:1.28rem;background: #29a6dc;position: relative}
.back{width: 0.44rem;height:0.44rem;background: #fff;border-radius: 50%;border: 0.02rem solid #0b6ebf;position: absolute;text-align: center;line-height:0.34rem;font-size:0.4rem;color: #40afdf;top:0.68rem;left: 0.24rem}
.content1{width: 6.87rem;height: 5.19rem;margin: 0 auto;margin-top: 0.22rem;background: #fff;box-shadow: 0 0 0.05rem 0 #29a6dc;border: 0.01rem solid #fff}
.item1{width: 6.21rem;height: 2.68rem;margin: 0 auto;margin-top: 0.59rem}
.item1 img{display: block;float: left;width: 2.41rem;height: 2.01rem}
.item1-r{width: 3.43rem;height:2.71rem;float: right }
.zi1{font-size: 0.28rem;color: #333}
.zi2{font-size: 0.24rem;color: #3f3f3f}
.zi22{font-size: 0.18rem;color: #444}
.zi3{font-size:0.2rem;color: #595959}
.zi4{font-size: 0.22rem;color:#ffd800;font-family: iconfont}
.zi5{font-size: 0.18rem;color:#c0c0c0; }
.zi6{width: 2.86rem;height: 0.33rem;display: flex;justify-content: space-between}
.botton{width: 0.86rem;height: 0.33rem;background: #67e479;text-align: center;line-height: 0.3rem;font-size: 0.24rem;color: #fff;border-radius: 0.33rem}
.item2{width: 5.79rem;height: 0.68rem;margin: 0 auto}
.item2-l{width:2.6rem;height: 0.68rem;float: left;background: #fff;box-shadow: 0 0 0.05rem 0 #29a6dc;border-radius: 0.68rem;color:#2d2d2d;box-shadow: 0 0 0.05rem 0 #29a6dc;font-size: 0.24rem}
.item2-l img{width: 0.48rem;height: 0.5rem;margin-top: 0.09rem;margin-left: 0.46rem}
.wenzi{margin-top: 0.2rem;float: right;margin-right:0.54rem }
.item2-r{width:2.60rem;height: 0.68rem;float:right;background: #fff;box-shadow: 0 0 0.05rem 0 #29a6dc;border-radius: 0.68rem;color: #2d2d2d;box-shadow: 0 0 0.05rem 0 #29a6dc;font-size: 0.24rem}
.item2-r img{width: 0.48rem;height: 0.5rem;margin-top: 0.09rem;margin-left: 0.46rem}
.item3{width: 2.7rem;height: 0.68rem;margin: 0 auto;background: #29a6dc;text-align: center;line-height:0.64rem;color: #fff;border-radius: 0.68rem;margin-top: 0.22rem;position: relative;font-size: 0.3rem}
.dian{width: 0.09rem;height: 0.09rem;background: #fff;position: absolute;top:0.32rem;left:0.29rem;border-radius: 50%}
.dian1{width: 0.09rem;height: 0.09rem;background: #fff;position: absolute;top:0.32rem;right:0.29rem;border-radius: 50%}
.biaoti{width: 6.54rem;height: 0.71rem;margin: 0 auto;margin-top: 0.34rem}
.biaoti img{width: 0.36rem;height: 0.57rem;float: left;display: block}
.biaotizi{width: 6rem;height: 0.71rem;float: left}
.xiaobiaotizi{font-size:0.18rem}
.shuping{font-size: 0.3rem;color:#252525;}
.qingyun{width: 6.89rem;height: 1.54rem;margin:0.23rem auto;box-shadow: 0 0 0.05rem 0 #29a6dc;border-radius: 0.05rem;background: #fff}
.qingyun-l{width: 1.32rem;height: 1.54rem;float: left}
.qingyun-l img{width: 0.8rem;height: 0.8rem;margin-top: 0.25rem;margin-left: 0.19rem;display: block}
.qingyun-r{width:5.36rem;height: 1.54rem;float: left}
.yuanfen{width: 5.36rem;height: 0.8rem;font-size: 0.22rem;color: #666;border-bottom: 0.03rem dotted #a0a0a0;margin-top: 0.25rem}
.shijian{width: 5.36rem;height: 0.35rem;margin-top: 0.09rem}
.shijian-l{width: 1.45rem;height: 0.35rem;float: left}
.zhongbiao{height: 0.35rem;width: 0.35rem;float: left;border-radius: 50%;box-shadow: 0 0 0.05rem 0 #29a6dc;font-size:0.24rem;text-align: center;line-height:0.36rem;color: #6797ff;background: #fff;font-family: iconfont;float: left}
.zhongbiaozi{width: 1rem;width: 0.35rem;font-size: 0.18rem;text-align: center;line-height: 0.35rem;color: #a4a1a1;float: left;margin-left: 0.05rem}
.shijian-r{width: 1.45rem;height: 0.35rem;float: right}
.chakanquanbu{width: 2.22rem;height: 0.38rem;margin: 0 auto;margin-top: 0.31rem;margin-bottom:0.69rem;background: #29a6dc;border-radius:0.15rem;text-align: center;line-height: 0.38rem;color: #fff;font-size: 0.24rem}
.biaoti1 img{width:0.51rem;height: 0.57rem;float: left;display: block}
.shuqian{font-size: 0.3rem;color: #4f9ed7;font-family: iconfont}
.tianjiachuqian{width: 6.92rem;height: 0.8rem;margin: 0 auto;box-shadow: 0 0 0.05rem 0 #29a6dc;background: #fff;text-align: center;line-height: 0.8rem;font-size: 0.24rem;color: #2d2d2d;}