ul,li,input,p,body,header,footer,figure{margin: 0;padding: 0;list-style: none;border: none;}
a{text-decoration: none}
img{border: none}
body{font-family: "Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif;font-size: 12px}
*{box-sizing: border-box}
/*head*/
@font-face {
    font-family: 'iconfont';  /* project id 222773 */
    src: url('//at.alicdn.com/t/font_bswp4bjirdn7y14i.eot');
    src: url('//at.alicdn.com/t/font_bswp4bjirdn7y14i.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_bswp4bjirdn7y14i.woff') format('woff'),
    url('//at.alicdn.com/t/font_bswp4bjirdn7y14i.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_bswp4bjirdn7y14i.svg#iconfont') format('svg');
}
.ding{width: 100%;background:#444444;height: 40px;color:#8a8a8c;font-size: 12px;;line-height: 40px;text-align: right;padding-right: 187px}
.ding2{width:100%;background: #333333;height: 44px;font-size:16px }
.neikuang{width: 1000px;height: 44px;margin: 0 auto;
    text-align:justify;padding:0 12px;padding-top: 10px;cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;}
.neikuang:after{content: "";width: 100%;display:inline-block}
.pingguo{font-family:iconfont}
.neikuang a{color: #fff;transition: all 1s}
.neikuang a:hover{color:#444}
.pingguo1{font-family:iconfont}
@media all and (max-width:1068px){
    .neikuang{width: 100%}

}
.hanbao{display: none;font-family: iconfont}
@media all and (max-width:740px){
    .neikuang{width: 100%}
    .hanbao a{display: inline;color: #fff}
    .hanbao a:hover{color:#444}
    .wenzi {display:none}
    .pingguo1{display: none;}
}






/*banner*/
.bannerk{width:100%;height:510px;margin: 0 auto}
.bannerbox{width:100%;height:510px;position: relative }
.banner-litle{width:100%;height:120px;text-align: center;font-size: 30px}
.banner-list{width:100%;height:510px}
.banner-img{width:100%;height:390px;background: url(images/banner.jpg) no-repeat ;background-position: center bottom ;background-size:auto 100%}
@media all and (max-width: 1068px){
    .bannerk{width: 486px}
    .banner-img{width:100%;height:390px;background: url(images/banner2.jpg) no-repeat ;background-position: center bottom ;background-size:auto 100%}
.banner-litle{width:100%;height:120px;text-align: center;font-size: 30px}
.banner-list{width:100%;height:500px}}
@media all and (max-width:738px){
    .bannerk{width: 479px}
    .banner-img{width:100%;height:390px;background: url(images/banner3.jpg) no-repeat ;background-position: center bottom ;background-size:auto 100%}
.banner-litle{width:100%;height:120px;text-align: center;font-size: 30px}
.banner-list{width:100%;height:490px}}

/*响应页*/
.content{width: 100%;border-top:1px solid #fff;border-bottom:1px solid #fff;background: red;float: left;border-right:1px solid #fff }
.content:after{
    content:"";clear: both;
}
.list{height: 200px}
.list:nth-child(1){width: 25%;background: url(images/1.jpg) no-repeat;border-right: 1px solid #fff;float: left}
.list:nth-child(2){width: 25%;background: url(images/2.jpg) no-repeat;border-right: 1px solid #fff;float: left}
.list:nth-child(3){width: 25%;background: url(images/3.jpg) no-repeat;border-right: 1px solid #fff;float: left}
.list:nth-child(4){width: 25%;background: url(images/4.jpg) no-repeat;float: left}
@media all and (max-width:1068px){
.list:nth-child(1){width:50%;background: url(images/11.jpg) no-repeat;border-right: 1px solid #fff;;border-bottom: 1px solid #fff;float: left}
.list:nth-child(2){width:50%;background: url(images/22.jpg) no-repeat;border-bottom: 1px solid #fff;float: left}
.list:nth-child(3){width:50%;background: url(images/33.jpg) no-repeat;border-right: 1px solid #fff;float: left}
.list:nth-child(4){width:50%;background: url(images/44.jpg) no-repeat;float: left}}
@media all and (max-width:738px){

    .list:nth-child(1){width:100%;background: url(images/111.jpg) no-repeat;border-bottom: 1px solid #fff;float: left ;background-position: center}
    .list:nth-child(2){width:100%;background: url(images/111.jpg) no-repeat;border-bottom: 1px solid #fff;float: left ;background-position: center}
    .list:nth-child(3){width:100%;background: url(images/111.jpg) no-repeat;border-bottom: 1px solid #fff;float: left ;background-position: center}
    .list:nth-child(4){width:100%;background: url(images/111.jpg) no-repeat;float: left ;background-position: center}}
.footer{width: 100%;background:#f2f2f2;height:auto ;font-size: 10px}

.shexiangtou{height: 68px;width: 980px;border-bottom: 1px solid #e3e3e3;color:#999;line-height: 68px;text-align: left;font-size: 10px;float: left;margin-left: 185px;margin-bottom: 24px}
.jingou{height:auto;width:980px;margin: 0 auto}
.jingou1 {width:20%;height: 263px;color:#333;float: left}
.jingou1 li{margin-bottom:5px}
.footer:after{content: "";clear: both}
.jingou1 a{color:#666}
.jingou2{margin-top:5px }
.jingou3 {width:20%;height:263px;color:#333;float: left}
.jingou3 a{color:#666}
.jiaoyu{width:90px;height:70px;color:#333;margin-bottom:10px}
.jiaoyu li{margin-bottom:5px}
.jingou a:hover{color:#333;text-decoration: underline}
.zhanghu{width:90px;height:70px;color:#333;margin-bottom:15px;}
.xuangou{width: 982px;height: 40px;border-bottom:1px solid #e3e3e3;float: left;margin-left: 185px;padding-top: 10px;margin-bottom: 10px;color: #999}
.xuangou a{float: left;color:#0070c9}
.xuangou a:hover{color:#333;text-decoration: underline}
.copy{height: 16px;width:1100px;margin-left: 185px;text-align: center;line-height: 16px;color: #999}
.copy1{float: left;text-align:left;line-height: 16px}
.yinsi{float: left;border-right:1px solid #d6d6d6;height:16px;padding-left: 12px;padding-right: 12px}
.yinsi:nth-child(5){border-right:none}
.yinsi:nth-child(1){margin-left: 25px}
.yinsi a{float: left;line-height: 16px;text-align: center;color:#666}
.yinsi a:hover{color:#333;text-decoration: underline}
.gongan{width: 982px;height: 40px;float: left;margin-left: 185px;padding-top: 10px;color: #999}
.gongan1{float: left}
.gongan a{float: left;line-height: 16px;text-align: center;color:#666;margin-left: 2px}
.gongan a:hover{text-decoration: underline}
.jiahao{display: none}
@media all and (max-width: 1086px){
    .jingou{width: 100%}
    .copy{margin-left:0;width: 100% }
    .gongan{margin-left: 0;width: 100%}
    .xuangou{margin-left: 0;width: 100%}
    .shexiangtou{margin-left: 0;width: 100%}

}
@media all and (max-width: 740px) {
    .jingou1{width: 100%;height: auto;border-bottom: 1px solid #ccc;padding-left: 10px}
    .jingou3{width: 100%;height:auto;border-bottom: 1px solid #ccc;padding-left: 10px}
    .jiahao{display: block;float: right}
    .jingou li{display: none}
    .jiaoyu{width:100%;height: auto;margin-bottom: 0;border-bottom: 1px solid #ccc}
    .zhanghu{width:100%;height: auto;margin-bottom: 0;border-bottom: 1px solid #ccc}
}
@media all and (max-width:740px){
.copy{margin-left:0;width: 100% }
    .gongan{margin-left: 0;width: 100%}
    .xuangou{margin-left: 0;width: 100%}
    .shexiangtou{margin-left: 0;width: 100%}

}