@import url(1.css);
ul,li,input,p,body,header,footer,figure,img{margin: 0;padding: 0;list-style: none;border: none;}
a{text-decoration: none}
img{border: none}
*{box-sizing: border-box}
body{font-family: "苹方 常规";background: #fafafa}
@font-face {
    font-family: 'iconfont';  /* project id 234945 */
    src: url('//at.alicdn.com/t/font_8kpofjajj8dj9k9.eot');
    src: url('//at.alicdn.com/t/font_8kpofjajj8dj9k9.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_8kpofjajj8dj9k9.woff') format('woff'),
    url('//at.alicdn.com/t/font_8kpofjajj8dj9k9.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_8kpofjajj8dj9k9.svg#iconfont') format('svg');
}
.header{width: 100%;height: 1.4rem;background: #29a6dc;position: relative;border: 0.01rem solid #29a6dc}
.back{width: 0.5rem;height:0.5rem;background: #fff;border-radius: 50%;border: 0.02rem solid #0b6ebf;position: absolute;text-align: center;line-height:0.44rem;font-size:0.3rem;color: #40afdf;top:0.68rem;left: 0.24rem;}
.wodeshujia{width:2.3rem;height: 0.38rem;color: #fff;font-size:0.36rem;margin: 0 auto;margin-top: 0.6rem;text-align: center }
.henggang{width: 0.34rem;height: 0.03rem;margin: 0 auto;margin-top: 0.08rem}
.zucheng1{width: 0.03rem;height: 0.03rem;background: #fff;border-radius: 50%;float: left}
.zucheng3{width: 0.03rem;height: 0.03rem;background: #fff;border-radius: 50%;float: left}
.zucheng2{width: 0.28rem;height: 0.01rem;background: #fff;float: left;margin-top: 0.01rem}
.fangdajing{width: 0.44rem;height: 0.44rem;border:0.02rem solid #076cbe;background: #fff;position: absolute;top:0.68rem;right:0.24rem;border-radius: 50%;font-size:0.3rem;text-align: center;line-height: 0.34rem;color: #40b0e0;font-family: iconfont}
.english{height: 0.13rem;margin: 0 auto;font-size: 0.12rem;color:#a3e3ff;margin-top: 0.02rem;text-align: center}
.yuanfenjieshao2{
    width: 6.9rem;height: 1.54rem;
    margin: 0 auto;
    border-radius: 0.1rem;background: #f6f9fe;
    position: relative;
    margin-left: 0.3rem;margin-bottom: 0.23rem;
}
.yuanfenjieshao3{
    width: 6.9rem;height: 1.54rem;
    margin: 0 auto;
    border-radius: 0.1rem;background: #f6f9fe;
    position: relative;
     margin-bottom: 0.23rem;
}
.renxiang{
    width: 0.8rem;height: 0.8rem;
    margin-top: 0.25rem;margin-left: 0.19rem;
    background: url(../images/7.png) no-repeat;
    background-size: cover;float: left;
}
.renxiang2{
    width: 0.8rem;height: 0.8rem;
    margin-top: 0.25rem;margin-left: 0.19rem;
    background: url(../images/11.png) no-repeat;
    background-size: cover;float: left;
}
.yfjs{
    width: 5.05rem;height: 0.55rem;
    color: #737373;font-size: 0.2rem;
    float: left;margin-top: 0.25rem;margin-left: 0.35rem;
}
.dianhuaxian{
    width: 5rem;height: 0.02rem;
    background: url(../images/8.png) no-repeat;
    background-size: cover;
    position: absolute;top: 0.9rem;left: 1.37rem;
}
.xiangqing{
    width: 5.5rem;height: 0.53rem;
    position: relative;
    margin-left: 0.99rem;margin-top: 1rem;
}
.shijian{
    width: 0.36rem;height: 0.35rem;
    background: url(../images/9.png) no-repeat;
    background-size: cover;float: left;
    margin-top: 0.1rem;margin-left: 0.28rem;
}
.sj{
    width: 0.8rem;height: 0.12rem;
    font-size: 0.12rem;line-height: 0.12rem;
    color: #a4a1a1;float: left;
    margin-left: 0.06rem;margin-top: 0.21rem;
}
.shoucang{
    width: 0.35rem;height: 0.35rem;
    background: url(../images/10.png) no-repeat;
    background-size: cover;float: left;
    position: absolute;top:0.92rem;left:4.7rem;
}
.sc{
    width: 0.37rem;height: 0.12rem;
    font-size: 0.12rem;line-height: 0.12rem;
    color: #a4a1a1;float: left;
    margin-left: 3.6rem;margin-top: 0.21rem;
}
.footer{width: 7.5rem;height: 1.26rem;background: #151c2b;margin-top: 0.13rem;border: 1px solid #151c2b}
.fabiaopinglun{width: 1.4rem;height: 0.52rem;border-radius: 0.52rem;margin: 0 auto;margin-top: 0.4rem;background: #fff;position: relative;text-align: center;line-height: 0.52rem;color: #151c2b;font-size: 0.2rem}
.pinglundian1{width: 0.06rem;height: 0.06rem;border-radius: 50%;position: absolute;background:#c4c4c4;top:0.24rem;left: 0.08rem }
.pinglundian2{width: 0.06rem;height: 0.06rem;border-radius: 50%;position: absolute;background:#c4c4c4;top:0.24rem;left:1.25rem }















