@import url(phone.css);
ul,li,input,p,body,header,footer,figure,img{margin: 0;padding: 0;list-style: none;border: none;}
a{text-decoration: none}
img{border: none}
*{box-sizing: border-box}
body{font-family: "苹方 常规";background: #fafafa}
@font-face {
    font-family: 'iconfont';  /* project id 226032 */
    src: url('http://at.alicdn.com/t/font_9jfn95gmzfjvpldi.eot');
    src: url('http://at.alicdn.com/t/font_9jfn95gmzfjvpldi.eot?#iefix') format('embedded-opentype'),
    url('http://at.alicdn.com/t/font_9jfn95gmzfjvpldi.woff') format('woff'),
    url('http://at.alicdn.com/t/font_9jfn95gmzfjvpldi.ttf') format('truetype'),
    url('http://at.alicdn.com/t/font_9jfn95gmzfjvpldi.svg#iconfont') format('svg');
}
.header{width: 100%;height: 1.4rem;background: #29a6dc;position: relative;border: 0.01rem solid #29a6dc}
.wodeshujia{width: 1.50rem;height: 0.38rem;color: #fff;font-size:0.36rem;margin: 0 auto;margin-top: 0.6rem; }
.henggang{width: 0.34rem;height: 0.03rem;margin: 0 auto;margin-top: 0.08rem}
.zucheng1{width: 0.03rem;height: 0.03rem;background: #fff;border-radius: 50%;float: left}
.zucheng3{width: 0.03rem;height: 0.03rem;background: #fff;border-radius: 50%;float: left}
.zucheng2{width: 0.28rem;height: 0.01rem;background: #fff;float: left;margin-top: 0.01rem}
.english{width: 1rem;height: 0.13rem;margin: 0 auto;font-size: 0.12rem;color:#a3e3ff;margin-top: 0.06rem}
.banner{width: 7.4rem;height: 3.21rem;margin: 0 auto;margin-top: 0.42rem;position: relative;border: 0.01rem solid #fafafa}
.houmian{width: 7.4rem;height: 2.88rem;padding:0.02rem;background: #fff;border-radius: 0.1rem;margin-top:0.16rem;box-shadow: 0 0 0.05rem 0.05rem #ccc;}
.houmian img{width: 7.36rem;height: 2.84rem;border-radius: 0.1rem;}
.qianmian{width: 6.67rem;height: 3.21rem;padding: 0.02rem;background: #fff;border-radius: 0.1rem;position: absolute;top:0;left:0.2rem;box-shadow: 0 0 0.05rem 0.05rem #ccc;}
.qianmian img{width: 6.63rem;height: 3.17rem;border-radius: 0.1rem;}
.dian{width: 0.48rem;height: 0.08rem;margin: 0.24rem auto;display: flex;justify-content: space-between}
.dian1{width: 0.08rem;width: 0.08rem;background: #fafafa;border: 0.01rem solid #48affe;border-radius: 50%}
.dian1:hover{background: #48affe}
.zuixin{width: 7.4rem;height: 0.58rem;margin: 0 auto;margin-bottom:0.33rem }
.zuixin-t{width: 7.4rem;height: 0.34rem}
.xing{width: 0.34rem;height: 0.34rem;border-radius: 50%;background: #ffc63e;color:#fafafa;font-size: 0.3rem;text-align:center;line-height: 0.3rem;font-family: iconfont;float: left}
.zi{width:1.23rem;height: 0.34rem;margin:0 0.09rem;color: #333;font-size: 0.3rem;float: left }
.caise{width: 0.04rem;height: 0.04rem;background: #fe58aa;border-radius: 50%;margin-top: 0.3rem;margin-right: 0.03rem;float: left}
.caise1{width: 0.04rem;height: 0.04rem;background: #58fedd;border-radius: 50%;margin-top: 0.3rem;margin-right: 0.03rem;float: left}
.caise2{width: 0.04rem;height: 0.04rem;background: #ffc63e;border-radius: 50%;margin-top: 0.3rem;margin-right: 0.3rem;float: left}
.zuixin-b{width:2rem;height: 0.18rem;color: #666;margin-left: 0.46rem;font-size: 0.16rem;line-height: 0.18rem;margin-top:0.5rem }
.maomi{width: 7.4rem;height: 3.6rem;margin: 0 auto;display: flex;justify-content: space-between;margin-bottom:0.33rem }
.baiban{width: 2.5rem;height: 3.6rem;background: #fff;border-radius: 0.1rem;box-shadow: 0 0 0.05rem 0.05rem #ccc;position: relative}
.wenzi1{width: 1.37rem;height: 0.24rem;margin: 0 auto;margin-top: 2.9rem;font-size: 0.22rem;color:#333}
.wenzi2{width: 1.44rem;height: 0.15rem;margin: 0 auto;margin-top:0.05rem;font-size:0.14rem;color:#999}
.tupian{width: 2.1rem;height: 2.8rem;background: #fff;padding: 0.01rem;position: absolute;top:-0.15rem;left:0.18rem;border-radius: 0.05rem}
.tupian img{width: 2.08rem;height: 2.78rem;border-radius: 0.05rem}
.liuli{width:7.4rem;height: 2.21rem;margin: 0 auto;margin-bottom: 0.16rem;background: #fff;box-shadow: 0 0 5rem 5rem #ccc;padding: 0.11rem}
.liuli img{white:1.38rem;height: 1.99rem;display: block;float: left;margin-bottom:0.016rem }
.neirong{width:5.26rem;height: 1.99rem;float: right;margin-right:0.3rem}
.neirong1{width:2.6rem;height: 0.28rem;color: #333;margin-top: 0.06rem;font-size: 0.28rem}
.neirong2{width: 4.47rem;height: 0.16rem;color: #999;margin-top: 0.1rem;font-size: 0.16rem}
.neirong3{width: 4.47rem;height:0.04rem;font-size: 0.04rem;color: #999;margin-top: 0.1rem;font-family: iconfont }
.neirong4{width: 3.8rem;height: 0.22rem;font-size: 0.22rem;color: #666;margin-top:0.15rem;}
.neirong5{width: 5.26rem;height:0.38rem;font-size: 0.14rem;color: #666;margin-top: 0.15rem}
.neirong6{width: 5.22rem;height:0.44rem}
.jindu{width:0.8rem;height: 0.16rem;float: left;color: #999;font-size: 0.16rem;margin-top:0.18rem}
.baifen{font-size: 0.16rem;color: #4ec0ed}
.jindutiao{width: 1.7rem;height: 0.06rem;float: left;margin-left: 0.13rem;margin-top: 0.28rem;border-radius: 0.06rem;background: #d4d4d4}
.tiaotiao{width: 0.6rem;height: 0.06rem;border-radius: 0.06rem;background:#94d1e6 }
.button{width: 1.5rem;height: 0.44rem;background:#29a5db;color:#fff;font-size: 0.22rem;float: right;border-radius: 0.44rem }
.footer{width: 100%;height: 1rem;padding:0.02rem 0;background: #151c2b }
.item1{width: 33%;height: 0.96rem;border-right: 0.01rem solid #717171;background: #0c1019;float: left}
.item2{width: 33%;height: 0.96rem;border-right: 0.01rem solid #717171;background: #151c2b;float: left}
.item3{width: 33%;height: 0.96rem;background: #151c2b;float: left}
.shujia{width: 0.47rem;height: 0.45rem;margin: 0 auto;margin-top: 0.09rem;color: #fff;font-size:0.44rem;font-family: iconfont}
.shujiazi{width: 0.47rem;height: 0.24rem;margin: 0 auto;margin-top: 0.13rem;color: #fff;font-size: 0.22rem}
.fangdajing{width: 0.44rem;height: 0.44rem;border:0.02rem solid #076cbe;background: #fff;position: absolute;top:0.68rem;right:0.24rem;border-radius: 50%;font-size:0.2rem;text-align: center;line-height: 0.4rem;color: #40b0e0;font-family: iconfont}

