ul,h1,h2,h3,h4,h5,h6,ol,p,input,dd,dt,li,body{padding: 0;margin:0;list-style: none;border: none;}
img{border: none;padding: 0;margin:0;display: block}
a{text-decoration: none;border: none;padding: 0;margin:0}
body{font-size: 12px;background:#f2f2f2  }
*{box-sizing:border-box;}
.top{
    width: 100%;height: 400px;
    background:url(../images/banner-boot.jpg) center no-repeat;background-size: cover;padding-top: 160px;text-align: center;margin-bottom: 90px
}
.top h1{width: 100%;height: 100px}
.top a{color: #fff;font-weight: bold;font-size: 60px}
.top a:hover{text-decoration: underline}
.top h2{width: 100%;height: auto;color: #fff;font-size: 34px;text-align: center}
.top img{width: 76px;height: 66px;margin:0 auto;margin-top: 60px;display: block; }


    .container{
        padding-right: 15px;
        padding-left: 15px;
        margin:0 auto;
        width:100%;
    height: auto}
.container:after{content: "";display: block;clear: both}
.row{ width: auto;
    height: auto;
    margin-left: -15px;
    margin-right: -15px;
     }
.row:after{content: "";display:block; clear:both}



    .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
        height: auto;
        float: left;
        padding-left: 15px;
        padding-right: 15px;
    }

    .col-xs-12 {
        width: 100%;
    }
    .col-xs-11 {
        width: 91.66666667%;
    }
    .col-xs-10 {
        width: 83.33333333%;
    }
    .col-xs-9 {
        width: 75%;
    }
    .col-xs-8 {
        width: 66.66666667%;
    }
    .col-xs-7 {
        width: 58.33333333%;
    }
    .col-xs-6 {
        width: 50%;
    }
    .col-xs-5 {
        width: 41.66666667%;
    }
    .col-xs-4 {
        width: 33.33333333%;
    }
    .col-xs-3 {
        width: 25%;
    }
    .col-xs-2 {
        width: 16.66666667%;
    }
    .col-xs-1 {
        width: 8.33333333%;
    }
.iii{padding-top:62.6%;display: block;
    position:relative;
    width: 100%;}
.article{background:#fff;padding:15px;margin-bottom: 30px }
.article a img{
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    max-width: 100%;
    height:auto
}

.article h2{text-align: center;line-height: 40px}
.article>h2>a{color:#777777}
.article>h2>a:hover{color:#000;text-decoration: underline}
@media all and (min-width: 750px){
    .container{width: 750px}
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        height: auto;
        float: left;
        padding-left: 15px;
        padding-right: 15px;
    }

    .col-sm-12 {
        width: 100%;
    }
    .col-sm-11 {
        width: 91.66666667%;
    }
    .col-sm-10 {
        width: 83.33333333%;
    }
    .col-sm-9 {
        width: 75%;
    }
    .col-sm-8 {
        width: 66.66666667%;
    }
    .col-sm-7 {
        width: 58.33333333%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-5 {
        width: 41.66666667%;
    }
    .col-sm-4 {
        width: 33.33333333%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-2 {
        width: 16.66666667%;
    }
    .col-sm-1 {
        width: 8.33333333%;
    }
}
@media all and (min-width: 970px){
    .container{width: 970px}
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        height: auto;
        float: left;
        padding-left: 15px;
        padding-right: 15px;
    }

    .col-md-12 {
        width: 100%;
    }
    .col-md-11 {
        width: 91.66666667%;
    }
    .col-md-10 {
        width: 83.33333333%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-8 {
        width: 66.66666667%;
    }
    .col-md-7 {
        width: 58.33333333%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-5 {
        width: 41.66666667%;
    }
    .col-md-4 {
        width: 33.33333333%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-2 {
        width: 16.66666667%;
    }
    .col-md-1 {
        width: 8.33333333%;
    }
}
@media all and (min-width:1170px){
    .container{width:1170px}
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        height: auto;
        float: left;
        padding-left: 15px;
        padding-right: 15px;
    }

    .col-lg-12 {
        width: 100%;
    }
    .col-lg-11 {
        width: 91.66666667%;
    }
    .col-lg-10 {
        width: 83.33333333%;
    }
    .col-lg-9 {
        width: 75%;
    }
    .col-lg-8 {
        width: 66.66666667%;
    }
    .col-lg-7 {
        width: 58.33333333%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-5 {
        width: 41.66666667%;
    }
    .col-lg-4 {
        width: 33.33333333%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-2 {
        width: 16.66666667%;
    }
    .col-lg-1 {
        width: 8.33333333%;
    }
}
.mulu{width: 1130px;height: 41px;margin-top: 40px;margin: 0 auto;position: relative}
.diyiye{width: 94px;height: 41px;margin: 0 auto;font-size: 12px;color: #39414a;line-height: 42px;text-align: center}
.xiayiye{width: 78px;height: 41px;border: 1px solid #39414a;border-radius: 2px;font-size: 14px;color: #39414a;text-align: center;line-height: 41px;position: absolute;top:0;right: 0}
.xiayiye:hover{background:#39414a;color:#f2f2f2  }
.nidewangzhan{width: 650px;height:auto;color:#39414a;font-size: 14px;margin: 0 auto;margin-top:68px }
.nidewangzhan a{color: #337ab7;font-size: 14px;display: inline}
.nidewangzhan a:hover{color:#202020;text-decoration: underline }
.qingzhuming{width:272px;height: 15px;margin: 0 auto;font-size: 14px;color:#39414a;margin-top: 17px }
.footer{width: 100%;height: 202px;margin-top: 52px;border-bottom: 1px solid #303030;border-top:1px solid #202020;background: #202020}
.footer-content{width: 1081px;height: 166px;margin:0 auto;margin-top: 36px;display: flex;justify-content: space-between }
.lianjie{width: 300px;height: 166px}
.youqinglianjie{color: #fff;font-size:20px;}
.huigang{width: 300px;height: 1px;background: #303030;margin-top: 6px}
.langang{width: 90px;height: 1px;background: #337ab7}
.zhongwenwang{width: 300px;height: 56px;border-bottom: 1px dashed #303030;color: #959595;font-size: 14px;text-align: left;line-height: 56px;display: block}
.zhongwenwang:hover{color: #fff}
.jishu{width:285px;height:65px;margin-top: 21px;display: flex;flex-wrap: wrap;align-content:space-between;justify-content: space-between }
.ghost{height: 27px;border: 1px solid #303030;text-align: center;line-height: 27px;display: block;padding-left:8px;padding-right: 8px;color: #959595;transition: all 0.5s;margin-right: 13px;margin-bottom: 9px }
.ghost:hover{background:#337ab7;color: #fff }
.onlyfooter{width:100%;height: 35px;background:#111111;text-align: center;line-height: 38px;color: #2f4646 }
.onlyfooter a{color:#2f4646;display: inline }
.onlyfooter a:hover{text-decoration: underline}
@media all and (max-width:1170px){
    .footer-content{width: 876px}
    .lianjie{width:234px}
    .huigang{width: 234px}
    .jishu{width:185px;height:93px}
    .zhongwenwang{width: 234px}
    .footer{height: 221px}
    .mulu{width: 876px}
}
@media all and (max-width:970px){
    .footer-content{width: 590px}
    .lianjie{width:160px}
    .huigang{width: 160px}
    .jishu{width:142px;height:130px}
    .zhongwenwang{width:160px}
    .footer{height: 255px}
    .mulu{width: 590px}
}
@media all and (max-width:750px){
    .footer{height:438px}
    .footer-content{width:90%;height:380px;margin:0 auto;display:block }
    .lianjie{width:90%}
    .huigang{width:85%}
    .jishu{width:70%;height:27px}
    .zhongwenwang{width:90%}
    .mulu{width:95%}
    .nidewangzhan{width: 95%}
}