@import url(phone.css);
ul,li,input,p,body,header,footer,figure,img{margin: 0;padding: 0;list-style: none;border: none;}
a{text-decoration: none}
img{border: none}
*{box-sizing: border-box}
body{font-family: "苹方 常规";background: #fafafa}
@font-face {
    font-family: 'iconfont';  /* project id 234945 */
    src: url('//at.alicdn.com/t/font_8kpofjajj8dj9k9.eot');
    src: url('//at.alicdn.com/t/font_8kpofjajj8dj9k9.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_8kpofjajj8dj9k9.woff') format('woff'),
    url('//at.alicdn.com/t/font_8kpofjajj8dj9k9.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_8kpofjajj8dj9k9.svg#iconfont') format('svg');
}
.header{width: 100%;height: 1.4rem;background: #29a6dc;position: relative;border: 0.01rem solid #29a6dc}
.back{width: 0.5rem;height:0.5rem;background: #fff;border-radius: 50%;border: 0.02rem solid #0b6ebf;position: absolute;text-align: center;line-height:0.44rem;font-size:0.3rem;color: #40afdf;top:0.68rem;left: 0.24rem;}
.wodeshujia{width:2.3rem;height: 0.38rem;color: #fff;font-size:0.36rem;margin: 0 auto;margin-top: 0.6rem;text-align: center }
.henggang{width: 0.34rem;height: 0.03rem;margin: 0 auto;margin-top: 0.08rem}
.zucheng1{width: 0.03rem;height: 0.03rem;background: #fff;border-radius: 50%;float: left}
.zucheng3{width: 0.03rem;height: 0.03rem;background: #fff;border-radius: 50%;float: left}
.zucheng2{width: 0.28rem;height: 0.01rem;background: #fff;float: left;margin-top: 0.01rem}
.fangdajing{width: 0.44rem;height: 0.44rem;border:0.02rem solid #076cbe;background: #fff;position: absolute;top:0.68rem;right:0.24rem;border-radius: 50%;font-size:0.3rem;text-align: center;line-height: 0.34rem;color: #40b0e0;font-family: iconfont}
.english{height: 0.13rem;margin: 0 auto;font-size: 0.12rem;color:#a3e3ff;margin-top: 0.02rem;text-align: center}
.fankuiyijian{width: 7.02rem;height: 3.24rem;margin: 0 auto;margin-top: 0.16rem;background: #fff;box-shadow: 0 0 0.05rem 0.05rem #eaeaea;border: 1px solid #fff}
.fankuikuang{width: 5.12rem;height: 0.55rem;margin-top: 0.26rem;margin-left: 0.16rem}
.yijianfankui{float: left;color: #dc7529;font-family: iconfont;font-size: 0.3rem}
.tichu{width:4.5rem;height: 0.55rem;float: left;margin-left: 0.08rem}
.tichu1{font-size:12px;color: #333 }
.tichu2{font-size:10px;color: #999}
.tuichudenglu{width: 5.65rem;height: 0.68rem;margin: 0 auto;margin-top:0.5rem;border-radius: 0.68rem;background: #28dd8b;text-align: center;line-height: 0.68rem;color: #fff;font-size: 0.3rem;position: relative;display: block}
.dian1{width: 0.06rem;height: 0.06rem;background: #fff;position: absolute;top:0.34rem;left: 0.32rem;border-radius: 50%}
.dian2{width: 0.06rem;height: 0.06rem;background: #fff;position: absolute;top:0.34rem;left: 5.29rem;border-radius: 50%}













